body{
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    margin: 0%;
}

.header-main{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.header-main a{
    color: #ACACAC;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.2em;
}

.logo{
    width: 29vw;
    height: 50px;
}

.logo img{
    width: 9.75em;
}

.nav-bar{
    height: 50px;
}

.nav-bar-itens{
    display: flex;
    list-style: none;
    width:29vw;
    justify-content: space-around;
}

.contato{
    display: flex;
    width:29vw;
    height: 50px;
    justify-content: flex-end;
}

.main-content{
    width: 90%;
    height: 541px;
    margin: auto;
    background: rgba(0, 0, 0, 0.34);
    border: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 26px;
}

.main-perfil, .main-apresentacao{
    width: 50%;
}

.main-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-perfil img{
    height: 35vh;   
    background: url(perfilAzulEscuro);
    filter: drop-shadow(17px 15px 14px rgba(255, 255, 255, 0.42));
}

 .main-descricao{
    width: 100%;
 }

.footer-main{
    width: 100%;
    height: 2em;
    background: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main p{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 13px;
    letter-spacing: 0.2em;
    color: #ACACAC;
}